body {
    margin: 0;
    height: 100%;
    width: 100%;
}

.container {
    width: 100%;
    max-width: 85%;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: content-box;
}

.header {
    text-align: right;
    font-family: Arial, sans-serif;
    font-size: 14px;
    
}

.btnS, .btnI {
    background-color: #303134;
    border: #303134;
    border-radius: 4px;
    color: #e8eaed;
    font-family: Arial, sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}